In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("12345.csv")

In [4]:
df.head()

,NO2,PM10,PM25,CO,SO2,OZONE,NOX,AQI,lastUpdate,lat,lng
0,4.893617,60.0,21.0,0.46,1.106870,30.97,5.6,72,0000-00-00 00:00:00,12.9812,77.5951
1,0.106383,31.0,9.0,1.03,2.366412,NaN,2.2,39,0000-00-00 00:00:00,12.9841,77.5889
2,0.106383,31.0,9.0,1.03,2.366412,NaN,2.2,40,0000-00-00 00:00:00,12.9911,77.5920
3,4.893617,60.0,21.0,0.46,1.106870,30.97,5.6,72,0000-00-00 00:00:00,12.9747,77.6094
4,4.893617,60.0,21.0,0.46,1.106870,30.97,5.6,71,0000-00-00 00:00:00,12.9779,77.5896

In [13]:
df.lastUpdate = df.lastUpdate.apply(pd.to_datetime)

ParserError: year 0 is out of range: 0000-00-00 00:00:00

In [8]:
df.lastUpdate

NO2           float64
PM10          float64
PM25          float64
CO            float64
SO2           float64
OZONE         float64
NOX           float64
AQI             int64
lastUpdate     object
lat           float64
lng           float64
dtype: object

In [15]:
df_new = pd.read_csv('newtestnew.csv')

In [16]:
df_new.head()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15

In [17]:
df.dtypes

NO2           float64
PM10          float64
PM25          float64
CO            float64
SO2           float64
OZONE         float64
NOX           float64
AQI             int64
lastUpdate     object
lat           float64
lng           float64
dtype: object

In [18]:
d = {}
d['Corr'] = ""

In [19]:
d

{'Corr': ''}

In [ ]:
import