In [2]:
import pandas as pd

In [3]:
agri = pd.read_csv('apy.csv')

In [4]:
agri.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165

In [4]:
agri.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [5]:
del agri['Area']

In [6]:
del agri['Production']

In [7]:
agri.head()

,State_Name,District_Name,Crop_Year,Season,Crop
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut

In [8]:
agri['State_Name'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [11]:
agri[agri['State_Name'] == 'Karnataka'].tail(10)

      State_Name District_Name  Crop_Year       Season           Crop
97977  Karnataka        YADGIR       2014  Summer       Cowpea(Lobia)
97978  Karnataka        YADGIR       2014  Summer           Groundnut
97979  Karnataka        YADGIR       2014  Summer               Jowar
97980  Karnataka        YADGIR       2014  Summer               Maize
97981  Karnataka        YADGIR       2014  Summer               Onion
97982  Karnataka        YADGIR       2014  Summer                Rice
97983  Karnataka        YADGIR       2014  Summer           Sunflower
97984  Karnataka        YADGIR       2014  Whole Year        Coconut
97985  Karnataka        YADGIR       2014  Whole Year       Coriander
97986  Karnataka        YADGIR       2014  Whole Year       Sugarcane

In [11]:
agri.head()

,State_Name,District_Name,Crop_Year,Season,Crop
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut

In [12]:
agri.Crop_Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2010, 1997, 1998, 1999,
       2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015], dtype=int64)

In [13]:
agri.Season.unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [ ]:
#Mid-Conclusion
#This csv is has all location based data of the crops but requires a lot of processing, not of null values but
#refinement of the crops[ Too many crops, not definitive]