In [1]:
import pandas as pd

In [2]:
crop = pd.read_csv('../Datasets/cpdata.csv')

In [3]:
fert1 = pd.read_csv('../Datasets/Fertilizer.csv')

In [5]:
fert2 = pd.read_csv('../Datasets/fertilizer4.csv')

In [6]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [7]:
crop.tail()

      temperature   humidity        ph   rainfall       label
3095    25.287846  89.636679  6.765095  58.286977  watermelon
3096    26.638386  84.695469  6.189214  48.324286  watermelon
3097    25.331045  84.305338  6.904242  41.532187  watermelon
3098    26.897502  83.892415  6.463271  43.971937  watermelon
3099    26.986037  89.413849  6.260839  58.548767  watermelon

In [29]:
crop_names = crop.label.unique()
crop_labels = []

In [30]:
#Convert everything into lowercase for easier comparison
for i in crop_names:
    i = i.replace(" ","")
    i = i.lower()
    crop_labels.append(i)

In [32]:
fert1.head()

   Unnamed: 0              Crop   N   P   K   pH
0           0              Rice  80  40  40  5.5
1           1    Jowar(Sorghum)  80  40  40  5.5
2           2       Barley(JAV)  70  40  45  5.5
3           3             Maize  80  40  20  5.5
4           4  Ragi( naachnnii)  50  40  20  5.5

In [33]:
del fert1['Unnamed: 0']

In [45]:
crop_names_from_fert1 = fert1['Crop'].unique()
crop_labels_from_fert1 = []

In [46]:
#Convert everything into lowercase for easier comparison
for i in crop_names_from_fert1:
    i = i.replace(" ","")
    i = i.lower()
    crop_labels_from_fert1.append(i)

In [47]:
final_crop_labels = []
for j in crop_labels_from_fert1:
    if j in crop_labels:
        final_crop_labels.append(j)

In [51]:
final_crop_labels

['rice',
 'maize',
 'kidneybeans',
 'blackgram',
 'pomegranate',
 'banana',
 'mango',
 'grapes',
 'watermelon',
 'muskmelon',
 'apple',
 'orange',
 'papaya',
 'coconut',
 'cotton',
 'jute',
 'coffee']

In [57]:
def change_case(i):
    i = i.replace(" ","")
    i = i.lower()
    return i

In [59]:
fert1['Crop'] = fert1['Crop'].apply(change_case)

In [60]:
for i in final_crop_labels:
    print(fert1[fert1['Crop'] == i])

      Crop   N   P   K    pH
0     rice  80  40  40  5.50
97    rice  80  40  40  5.52
194   rice  80  40  40  5.54
291   rice  80  40  40  5.56
388   rice  80  40  40  5.58
485   rice  80  40  40  5.60
582   rice  80  40  40  5.62
679   rice  80  40  40  5.64
776   rice  80  40  40  5.66
873   rice  80  40  40  5.68
970   rice  80  40  40  5.48
1067  rice  80  40  40  5.46
1164  rice  80  40  40  5.44
1261  rice  80  40  40  5.42
1358  rice  80  40  40  5.40
1455  rice  80  40  40  5.38
1552  rice  80  40  40  5.36
1649  rice  80  40  40  5.34
1746  rice  80  40  40  5.32
       Crop   N   P   K    pH
3     maize  80  40  20  5.50
100   maize  80  40  20  5.52
197   maize  80  40  20  5.54
294   maize  80  40  20  5.56
391   maize  80  40  20  5.58
488   maize  80  40  20  5.60
585   maize  80  40  20  5.62
682   maize  80  40  20  5.64
779   maize  80  40  20  5.66
876   maize  80  40  20  5.68
973   maize  80  40  20  5.48
1070  maize  80  40  20  5.46
1167  maize  80  40  20  5.44
1264  maize  80  40  20  5.42
1361  maize  80  40  20  5.40
1458  maize  80  40  20  5.38
1555  maize  80  40  20  5.36
1652  maize  80  40  20  5.34
1749  maize  80  40  20  5.32
             Crop   N   P   K    pH
12    kidneybeans  20  60  20  5.50
109   kidneybeans  20  60  20  5.52
206   kidneybeans  20  60  20  5.54
303   kidneybeans  20  60  20  5.56
400   kidneybeans  20  60  20  5.58
497   kidneybeans  20  60  20  5.60
594   kidneybeans  20  60  20  5.62
691   kidneybeans  20  60  20  5.64
788   kidneybeans  20  60  20  5.66
885   kidneybeans  20  60  20  5.68
982   kidneybeans  20  60  20  5.48
1079  kidneybeans  20  60  20  5.46
1176  kidneybeans  20  60  20  5.44
1273  kidneybeans  20  60  20  5.42
1370  kidneybeans  20  60  20  5.40
1467  kidneybeans  20  60  20  5.38
1564  kidneybeans  20  60  20  5.36
1661  kidneybeans  20  60  20  5.34
1758  kidneybeans  20  60  20  5.32
           Crop   N   P   K    pH
18    blackgram  40  60  20  5.00
115   blackgram  40  60  20  5.02
212   blackgram  40  60  20  5.04
309   blackgram  40  60  20  5.06
406   blackgram  40  60  20  5.08
503   blackgram  40  60  20  5.10
600   blackgram  40  60  20  5.12
697   blackgram  40  60  20  5.14
794   blackgram  40  60  20  5.16
891   blackgram  40  60  20  5.18
988   blackgram  40  60  20  4.98
1085  blackgram  40  60  20  4.96
1182  blackgram  40  60  20  4.94
1279  blackgram  40  60  20  4.92
1376  blackgram  40  60  20  4.90
1473  blackgram  40  60  20  4.88
1570  blackgram  40  60  20  4.86
1667  blackgram  40  60  20  4.84
1764  blackgram  40  60  20  4.82
             Crop   N   P   K    pH
60    pomegranate  20  10  40  5.50
157   pomegranate  20  10  40  5.52
254   pomegranate  20  10  40  5.54
351   pomegranate  20  10  40  5.56
448   pomegranate  20  10  40  5.58
545   pomegranate  20  10  40  5.60
642   pomegranate  20  10  40  5.62
739   pomegranate  20  10  40  5.64
836   pomegranate  20  10  40  5.66
933   pomegranate  20  10  40  5.68
1030  pomegranate  20  10  40  5.48
1127  pomegranate  20  10  40  5.46
1224  pomegranate  20  10  40  5.44
1321  pomegranate  20  10  40  5.42
1418  pomegranate  20  10  40  5.40
1515  pomegranate  20  10  40  5.38
1612  pomegranate  20  10  40  5.36
1709  pomegranate  20  10  40  5.34
1806  pomegranate  20  10  40  5.32
        Crop    N   P   K    pH
61    banana  100  75  50  6.50
158   banana  100  75  50  6.52
255   banana  100  75  50  6.54
352   banana  100  75  50  6.56
449   banana  100  75  50  6.58
546   banana  100  75  50  6.60
643   banana  100  75  50  6.62
740   banana  100  75  50  6.64
837   banana  100  75  50  6.66
934   banana  100  75  50  6.68
1031  banana  100  75  50  6.48
1128  banana  100  75  50  6.46
1225  banana  100  75  50  6.44
1322  banana  100  75  50  6.42
1419  banana  100  75  50  6.40
1516  banana  100  75  50  6.38
1613  banana  100  75  50  6.36
1710  banana  100  75  50  6.34
1807  banana  100  75  50  6.32
       Crop   N   P   K    pH
62    mango  20  20  30  5.00
159   mango  20  20  30  5.02
256   mango  20  20  30  5.04
353   mango  20  20  30  5.06
450   mango  20  20  30  5.08
547   mango  20  20  30  5.10
644   mango  20  20  30  5.12
741   mango  20  20  30  5.14
838   mango  20  20  30  5.16
935   mango  20  20  30  5.18
1032  mango  20  20  30  4.98
1129  mango  20  20  30  4.96
1226  mango  20  20  30  4.94
1323  mango  20  20  30  4.92
1420  mango  20  20  30  4.90
1517  mango  20  20  30  4.88
1614  mango  20  20  30  4.86
1711  mango  20  20  30  4.84
1808  mango  20  20  30  4.82
        Crop   N    P    K    pH
63    grapes  20  125  200  4.00
160   grapes  20  125  200  4.02
257   grapes  20  125  200  4.04
354   grapes  20  125  200  4.06
451   grapes  20  125  200  4.08
548   grapes  20  125  200  4.10
645   grapes  20  125  200  4.12
742   grapes  20  125  200  4.14
839   grapes  20  125  200  4.16
936   grapes  20  125  200  4.18
1033  grapes  20  125  200  3.98
1130  grapes  20  125  200  3.96
1227  grapes  20  125  200  3.94
1324  grapes  20  125  200  3.92
1421  grapes  20  125  200  3.90
1518  grapes  20  125  200  3.88
1615  grapes  20  125  200  3.86
1712  grapes  20  125  200  3.84
1809  grapes  20  125  200  3.82
            Crop    N   P   K    pH
66    watermelon  100  10  50  5.50
163   watermelon  100  10  50  5.52
260   watermelon  100  10  50  5.54
357   watermelon  100  10  50  5.56
454   watermelon  100  10  50  5.58
551   watermelon  100  10  50  5.60
648   watermelon  100  10  50  5.62
745   watermelon  100  10  50  5.64
842   watermelon  100  10  50  5.66
939   watermelon  100  10  50  5.68
1036  watermelon  100  10  50  5.48
1133  watermelon  100  10  50  5.46
1230  watermelon  100  10  50  5.44
1327  watermelon  100  10  50  5.42
1424  watermelon  100  10  50  5.40
1521  watermelon  100  10  50  5.38
1618  watermelon  100  10  50  5.36
1715  watermelon  100  10  50  5.34
1812  watermelon  100  10  50  5.32
           Crop    N   P   K    pH
67    muskmelon  100  10  50  5.50
164   muskmelon  100  10  50  5.52
261   muskmelon  100  10  50  5.54
358   muskmelon  100  10  50  5.56
455   muskmelon  100  10  50  5.58
552   muskmelon  100  10  50  5.60
649   muskmelon  100  10  50  5.62
746   muskmelon  100  10  50  5.64
843   muskmelon  100  10  50  5.66
940   muskmelon  100  10  50  5.68
1037  muskmelon  100  10  50  5.48
1134  muskmelon  100  10  50  5.46
1231  muskmelon  100  10  50  5.44
1328  muskmelon  100  10  50  5.42
1425  muskmelon  100  10  50  5.40
1522  muskmelon  100  10  50  5.38
1619  muskmelon  100  10  50  5.36
1716  muskmelon  100  10  50  5.34
1813  muskmelon  100  10  50  5.32
       Crop   N    P    K    pH
69    apple  20  125  200  6.50
166   apple  20  125  200  6.52
263   apple  20  125  200  6.54
360   apple  20  125  200  6.56
457   apple  20  125  200  6.58
554   apple  20  125  200  6.60
651   apple  20  125  200  6.62
748   apple  20  125  200  6.64
845   apple  20  125  200  6.66
942   apple  20  125  200  6.68
1039  apple  20  125  200  6.48
1136  apple  20  125  200  6.46
1233  apple  20  125  200  6.44
1330  apple  20  125  200  6.42
1427  apple  20  125  200  6.40
1524  apple  20  125  200  6.38
1621  apple  20  125  200  6.36
1718  apple  20  125  200  6.34
1815  apple  20  125  200  6.32
        Crop   N   P   K    pH
74    orange  20  10  10  4.00
171   orange  20  10  10  4.02
268   orange  20  10  10  4.04
365   orange  20  10  10  4.06
462   orange  20  10  10  4.08
559   orange  20  10  10  4.10
656   orange  20  10  10  4.12
753   orange  20  10  10  4.14
850   orange  20  10  10  4.16
947   orange  20  10  10  4.18
1044  orange  20  10  10  3.98
1141  orange  20  10  10  3.96
1238  orange  20  10  10  3.94
1335  orange  20  10  10  3.92
1432  orange  20  10  10  3.90
1529  orange  20  10  10  3.88
1626  orange  20  10  10  3.86
1723  orange  20  10  10  3.84
1820  orange  20  10  10  3.82
        Crop   N   P   K    pH
75    papaya  50  50  50  6.00
172   papaya  50  50  50  6.02
269   papaya  50  50  50  6.04
366   papaya  50  50  50  6.06
463   papaya  50  50  50  6.08
560   papaya  50  50  50  6.10
657   papaya  50  50  50  6.12
754   papaya  50  50  50  6.14
851   papaya  50  50  50  6.16
948   papaya  50  50  50  6.18
1045  papaya  50  50  50  5.98
1142  papaya  50  50  50  5.96
1239  papaya  50  50  50  5.94
1336  papaya  50  50  50  5.92
1433  papaya  50  50  50  5.90
1530  papaya  50  50  50  5.88
1627  papaya  50  50  50  5.86
1724  papaya  50  50  50  5.84
1821  papaya  50  50  50  5.82
         Crop   N   P   K    pH
88    coconut  20  10  30  5.00
185   coconut  20  10  30  5.02
282   coconut  20  10  30  5.04
379   coconut  20  10  30  5.06
476   coconut  20  10  30  5.08
573   coconut  20  10  30  5.10
670   coconut  20  10  30  5.12
767   coconut  20  10  30  5.14
864   coconut  20  10  30  5.16
961   coconut  20  10  30  5.18
1058  coconut  20  10  30  4.98
1155  coconut  20  10  30  4.96
1252  coconut  20  10  30  4.94
1349  coconut  20  10  30  4.92
1446  coconut  20  10  30  4.90
1543  coconut  20  10  30  4.88
1640  coconut  20  10  30  4.86
1737  coconut  20  10  30  4.84
1834  coconut  20  10  30  4.82
        Crop    N   P   K    pH
93    cotton  120  40  20  5.50
190   cotton  120  40  20  5.52
287   cotton  120  40  20  5.54
384   cotton  120  40  20  5.56
481   cotton  120  40  20  5.58
578   cotton  120  40  20  5.60
675   cotton  120  40  20  5.62
772   cotton  120  40  20  5.64
869   cotton  120  40  20  5.66
966   cotton  120  40  20  5.68
1063  cotton  120  40  20  5.48
1160  cotton  120  40  20  5.46
1257  cotton  120  40  20  5.44
1354  cotton  120  40  20  5.42
1451  cotton  120  40  20  5.40
1548  cotton  120  40  20  5.38
1645  cotton  120  40  20  5.36
1742  cotton  120  40  20  5.34
1839  cotton  120  40  20  5.32
      Crop   N   P   K    pH
94    jute  80  40  40  5.50
191   jute  80  40  40  5.52
288   jute  80  40  40  5.54
385   jute  80  40  40  5.56
482   jute  80  40  40  5.58
579   jute  80  40  40  5.60
676   jute  80  40  40  5.62
773   jute  80  40  40  5.64
870   jute  80  40  40  5.66
967   jute  80  40  40  5.68
1064  jute  80  40  40  5.48
1161  jute  80  40  40  5.46
1258  jute  80  40  40  5.44
1355  jute  80  40  40  5.42
1452  jute  80  40  40  5.40
1549  jute  80  40  40  5.38
1646  jute  80  40  40  5.36
1743  jute  80  40  40  5.34
1840  jute  80  40  40  5.32
        Crop    N   P   K    pH
95    coffee  100  20  30  5.50
192   coffee  100  20  30  5.52
289   coffee  100  20  30  5.54
386   coffee  100  20  30  5.56
483   coffee  100  20  30  5.58
580   coffee  100  20  30  5.60
677   coffee  100  20  30  5.62
774   coffee  100  20  30  5.64
871   coffee  100  20  30  5.66
968   coffee  100  20  30  5.68
1065  coffee  100  20  30  5.48
1162  coffee  100  20  30  5.46
1259  coffee  100  20  30  5.44
1356  coffee  100  20  30  5.42
1453  coffee  100  20  30  5.40
1550  coffee  100  20  30  5.38
1647  coffee  100  20  30  5.36
1744  coffee  100  20  30  5.34
1841  coffee  100  20  30  5.32