In [1]:
import pandas as pd

In [11]:
crop = pd.read_csv('../Datasets/cpdata.csv')

In [12]:
fert1 = pd.read_csv('../Datasets/Fertilizer.csv')

In [13]:
def change_case(i):
    i = i.replace(" ","")
    i = i.lower()
    return i

In [14]:
fert1['Crop'] = fert1['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [15]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [16]:
crop.tail()

      temperature   humidity        ph   rainfall       label
3095    25.287846  89.636679  6.765095  58.286977  watermelon
3096    26.638386  84.695469  6.189214  48.324286  watermelon
3097    25.331045  84.305338  6.904242  41.532187  watermelon
3098    26.897502  83.892415  6.463271  43.971937  watermelon
3099    26.986037  89.413849  6.260839  58.548767  watermelon

In [17]:
crop_names = crop.label.unique()
crop_labels = []

In [7]:
#Convert everything into lowercase for easier comparison
for i in crop_names:
    i = i.replace(" ","")
    i = i.lower()
    crop_labels.append(i)

In [18]:
fert1.head()

   Unnamed: 0             Crop   N   P   K   pH
0           0             rice  80  40  40  5.5
1           1   jowar(sorghum)  80  40  40  5.5
2           2      barley(jav)  70  40  45  5.5
3           3            maize  80  40  20  5.5
4           4  ragi(naachnnii)  50  40  20  5.5

In [9]:
del fert1['Unnamed: 0']

In [ ]:
#make some changes in fert1

fert1['Crop'].replace()

In [ ]:
crop_names_from_fert1 = fert1['Crop'].unique()
crop_labels_from_fert1 = []

In [ ]:
#Convert everything into lowercase for easier comparison
for i in crop_names_from_fert1:
    i = i.replace(" ","")
    i = i.lower()
    crop_labels_from_fert1.append(i)

In [ ]:
final_crop_labels = []
for j in crop_labels_from_fert1:
    if j in crop_labels:
        final_crop_labels.append(j)

In [ ]:
final_crop_labels

In [ ]:
for i in final_crop_labels:
    print(crop[crop['label'] == i])

In [ ]:
crop.label

In [ ]:
extract_labels = []
for i in final_crop_labels:
    if i in crop.label.unique():
        extract_labels.append(i)

In [ ]:
#use extract labesl on crop to get all the data related to those labels
new_df = pd.DataFrame(columns = crop.columns)

In [ ]:
for label in extract_labels:
    new_df = new_df.append(crop[crop['label'] == label])

In [ ]:
new_df

In [ ]:
new_df.head()

In [ ]:
new_df.shape

In [ ]:
crop.shape

In [ ]:
crop.label.unique()

In [ ]:
fert1['Crop'].unique()